<header class="container-fluid site-header">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <nav class="site-nav">
        <a class="page-link" href="{{ site.baseurl }}/">Abhishek Gupta</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <div class="social-links">
          <a href="https://www.linkedin.com/in/abhishekgpta/" target="_blank"><i class="fab fa-linkedin-in"></i> &nbsp; Say hello on Linkedin!</a>
        </div>
      </nav>
    </div>
  </div>

</header>
