/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/** Variables **********************************************/
$base-font-family:              'Nunito', sans-serif;
$base-line-height:              1.6em;
$nav-height:                    56px;

/* COLORS  */
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;   /* footer */
$grey-color-light: #b9b9b9;  /* navigation bar border */
$grey-color-extra-light: #ededed;
$text-color:     #000;

/* Set theme color *************************/
$theme-color:   $red;

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.alignright {
    float: right;
}


hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

a {
    color: $text-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%);
    }
    */
    &:hover {
        color: $grey-color-light;
        text-decoration: none;
    }
}
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
