
/* Progress indicator */

.progress-indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  z-index: 999;
  background-color: $grey-color-extra-light;
  border-right: 16px $theme-color solid;
}

/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-extra-light;
background-color: #fff;
opacity: 0.97;
position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
  line-height: $nav-height;

  .page-link{
    line-height: $base-line-height;
    display: line;
    margin-right: 20px;
  }

  .page-link:first-child {
    font-weight: 700;
  }

  .social-links {
    float: right;

    a {
      background-color: $grey-color-extra-light;
      padding: 4px 12px 4px 12px;
      border-radius: 2px;
    }
    i {
      color: #0077B5;
    }
  }
}
/* Profile summary *********************************************/

.profile-summary {
  padding: 156px 0 240px 0;
  h1 {
    line-height: 1.6;
  }
  h1 span {
    font-weight: 400;
    color: $theme-color;
  }
}

/* Projects *********************************************/

.projects {
padding-top: 40px;
}
.section-title {
  text-transform: uppercase;
  color: $theme-color;
  font-weight: 700;
  margin-bottom: 32px;
}

.project-nav {
  height: auto;

  ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 4px 12px 4px 12px;
    margin: 4px 4px 4px 0;
    font-weight: 400;
    border: 1px $grey-color-dark solid;
    border-radius: 2px;
    font-size: 14px;
  }

  ul li:hover {
    border: 1px $grey-color-light solid;
  }
}

.project-nav ul li.active-nav {
  background-color: $red;
  border: 1px $theme-color solid;

  a {
    color: #fff;
  }
}

.fixed-nav {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  padding: 8px 0 8px 0;
  margin-left: 0;
  border-bottom: 1px $grey-color-extra-light solid;
  box-shadow: 0 -1px 4px rgba(0,0,0,.1);
}

.project {
  margin: 60px 0 120px 0;

  .text-block {
    margin-top: 24px;
    margin-bottom: 24px;
    opacity: 0;

    .project-title {
      margin-bottom: 18px;
      font-weight: 400;

      span {
        background-color: $grey-color-extra-light;
      }
    }
    .project-desc {
      margin-bottom: 18px;
    }
  }
  .has-background {
    background-color: $grey-color-extra-light;
    padding: 40px;

    .phone-chassis {
      width: 90%;
      border: 8px $grey-color-dark solid;
      border-top-width: 48px;
      border-bottom-width: 48px;
      border-radius: 36px;
      margin-bottom: 12px;
      background-color: #4a4a4a;
    }
  }
}
.full-width-image img {
  width: 100%;
}
.phone-chassis img {
  width: 100%;
}

#up-btn-wrap {
  text-align: center;
  margin-bottom: 120px;
}
.up-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 120px;
  background-color: #fff;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 120px;
  border: 6px $grey-color-extra-light solid;
}

.up-btn:hover {
  border-color: $theme-color;

  .fas {
    color: $theme-color;
  }
}

.fas {
  font-size: 24px;
  color: $grey-color-extra-light;
  padding-top: 10px;
}



/**
 * Site footer  **********************************************************
 */
.site-footer {
  background-color: $theme-color;
  text-align: center;
  border-top: 1px solid #e3e3e3;
  font-size: 13px;
  font-weight: 300;
  padding: 8px;
  color: #fff;
  width:100%;
}

.site-footer a {
  color: #fff;
  font-weight: 700;
}

// Resume page

.resume-wrapper {
  padding-top: 56px;
  margin-bottom: -8px;
}

// Animate appearance

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-pop-in {
  animation: pop-in 1s ease-out forwards;
}


// Utility classes

.center {
  text-align: center;
}
